:root {
  --gap: 10px;
  --radius: 10px;
  --border: #e5e5e5;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  overflow-x: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid var(--border);
}

#q {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--border);
  border-radius: 10px;
  outline: none;
}

.grid {
  padding: 10px 10px 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.groups {
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  align-items: start;
  overflow-x: auto;
  padding-bottom: 10px;
}

.group-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.group-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  padding: 6px 8px;
  /* border-left: 4px solid #c7c7c7; */
  background: #fafafa;
  color: #444;
  border-radius: var(--radius);
}


.item {
  text-align: left;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 10px;
  background: white;
  cursor: pointer;
}

.title-row {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.favicon {
  width: 16px;
  height: 16px;
  flex: 0 0 16px;
}

.favicon.is-empty {
  opacity: 0;
}

.item:hover {
  background: #f7f7f7;
}

.title {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 6px;
  min-width: 0;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.url {
  font-size: 11px;
  opacity: 0.7;
  padding-left: 26px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
